<!DOCTYPE html>
<html>
    <head>
        {% block head %}
          <title>{% block title %}{% endblock %} Positions</title>
        {% endblock %}
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>{{h1_header}} <strong>{{mv_amt}}</strong></h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('filter') }}">
                  <input type="number" name="mv_amt" placeholder="Enter market value" required>
                  <input type="submit" />
                </form>
                <a class="button" href="{{ url_for('home') }}">Clear</a>
                <input type="button" id='clear-button' class='button' value="Back" onclick="history.back(-1)" />
                <br>
                <br>
                <table id="result-table">
                    <tr><th>Date</th><th>Portfolio ID</th><th>Security ID</th><th>Number of Trades</th><th>Market Value</th></tr>
                        {% for row in resultset %}
                    <tr>
                        {% for col in row %}
                    <td>{{col}}</td>
                        {% endfor %}
                    </tr>
                        {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>